<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xb.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >
    

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />
    <!-- 联网权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 查看网络的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读写外部sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- 获取手机的状态 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<!-- 读取联系人权限 -->
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	 <!-- 开机广播检测 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 读取短信权限 -->
	<uses-permission android:name="android.permission.READ_SMS"/>
	<!-- 接受短信的权限 -->
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<!-- 定位权限 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <!-- 震动需要的权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 需要监听电话具体意图和权限；-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
   <!-- 系统和电话一样的窗体权限 -->
   <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
   <!-- 挂断电话所需要的权限 -->
   <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>  
   <!-- 读取通话记录 -->
   <uses-permission android:name="android.permission.READ_CALL_LOG"/>
   <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
   <!-- 写sms -->
   <uses-permission android:name="android.permission.WRITE_SMS"/>
   <!-- 读短信 -->
   <uses-permission android:name="android.permission.READ_SMS"/> 
   
    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 广播 -->
	
		<!-- 开机广播 -->
		<receiver android:name="com.xb.mobilesafe.recevier.BootCompleteReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED"/>
		    </intent-filter>
		    </receiver>
		    
		<!-- 读取短信的广播 -->
		<receiver android:name="com.xb.mobilesafe.recevier.SMSReceiver">
		    <intent-filter android:priority="100"><!-- 权限设高 -->
		        <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
		    </intent-filter>
		</receiver>
		<!-- 改为在代码中注册,不然系统启动就会起作用 -->
		<!-- 打电话广播 -->
		<!-- <receiver android:name="com.xb.mobilesafe.recevier.OutCallReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.NEW_OUTGOING_CALL"></action>
		    </intent-filter>
		</receiver> -->
		
		<!-- 锁屏 -->
		<receiver android:name="com.xb.mobilesafe.recevier.LockScreenRecevier"
		     android:label="@string/device_admin_lock"
       		 android:description="@string/device_admin_lock_des"
       		 android:permission="android.permission.BIND_DEVICE_ADMIN"
		    >
		     <meta-data android:name="android.app.device_admin"
            	android:resource="@xml/device_admin_lock" />
		    <intent-filter>
		        <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
		    </intent-filter>
		    
		</receiver>
		
		<!-- 广播 -->
		<!-- 服务 -->
		<!-- GPS服务 -->
		<service android:name="com.xb.mobilesafe.service.GPSService"/>
		<!-- 来电服务 -->
		<service android:name="com.xb.mobilesafe.service.AddressService"/>
		<!-- 黑名单服务 -->
		<service android:name="com.xb.mobilesafe.service.CallSmsBlackNumberService"></service>
		<!-- 服务end -->
        <!-- 启动页面 -->
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页面 -->
        <activity android:name="com.xb.mobilesafe.activity.HomeActivity" android:label="@string/home_title" android:launchMode="singleTask"/>
        <!-- 设置中心 -->
        <activity android:name="com.xb.mobilesafe.activity.SettingActivity" />
        <!-- 手机防盗 -->
        <activity android:name="com.xb.mobilesafe.activity.LostFindActivity" android:launchMode="singleTask" />
        <!-- 手机防盗向导第一步 -->
         <activity android:name="com.xb.mobilesafe.activity.Setup1Activity" />
        <!-- 手机防盗第二步 -->
        <activity android:name="com.xb.mobilesafe.activity.Setup2Activity"/>
         <!-- 手机防盗第三步 -->
        <activity android:name="com.xb.mobilesafe.activity.Setup3Activity"/>
         <!-- 手机防盗第四步 -->
        <activity android:name="com.xb.mobilesafe.activity.Setup4Activity"/>
        <!-- 选择联系人 -->
 		<activity android:name="com.xb.mobilesafe.activity.SelectContanctActivity"/>
       
 		<!-- 高级工具 -->
 		<activity android:name="com.xb.mobilesafe.activity.AtoolsActivity"/>
 		<!-- 号码归属地查询 -->
 		<activity android:name="com.xb.mobilesafe.activity.NumberAddressQueryActivity"/>
 		<!-- 通讯卫士 -->
 		<activity android:name="com.xb.mobilesafe.activity.CallSmsSafeActivity"/>
 		</application>

</manifest>
